<?xml version="1.0" encoding="utf-8" ?>
<config>
    <modules>
        <Gugliotti_Stripe>
            <version>0.1.0</version>
        </Gugliotti_Stripe>
    </modules>
    <global>
        <models>
            <gugliotti_stripe>
                <class>Gugliotti_Stripe_Model</class>
            </gugliotti_stripe>
        </models>
        <helpers>
            <gugliotti_stripe>
                <class>Gugliotti_Stripe_Helper</class>
            </gugliotti_stripe>
        </helpers>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <gugliotti_stripe>
                    <files>
                        <default>Gugliotti_Stripe.csv</default>
                    </files>
                </gugliotti_stripe>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <gugliotti_stripe>
                    <files>
                        <default>Gugliotti_Stripe.csv</default>
                    </files>
                </gugliotti_stripe>
            </modules>
        </translate>
    </frontend>
    <default>
        <payment>
            <gugliotti_stripe>
                <model>gugliotti_stripe/payment_stripe</model>
                <stripe_library_version>5.1.3</stripe_library_version>
                <active>0</active>
                <title>Gugliotti Stripe</title>
                <payment_action>authorize_capture</payment_action>
                <order_status>pending</order_status>
                <cctypes>AE,DI,MC,VI</cctypes>
                <useccv>1</useccv>
                <supported_currencies>EUR,USD</supported_currencies>
                <min_order_amount>0.50</min_order_amount>
            </gugliotti_stripe>
        </payment>
    </default>
</config>